.Container {
 text-align: center;
}

.Login {
    background-color: #50ac94;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Logo {
    margin-bottom: 50px;
    border-radius: 8px;
}
